html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font-size: 18px;
	line-height: 1.5;
    margin: 0 auto;
    background-color: rgb(248, 249, 247);
    font-family: 'Space Grotesk', sans-serif;
    background-color:  rgb(85, 8, 210);
}

main {
	font-size: 18px;
	line-height: 1.5;
    margin: 0 auto;
    padding-bottom: 3%;
    max-width: 50em;
    background-color: rgb(248, 249, 247);
    font-family: 'Space Grotesk', sans-serif;
    background-color:  rgb(85, 8, 210);
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    -webkit-text-stroke-color: rgb(85, 8, 210);
    -webkit-text-stroke-width: 3px;
    color: white;
    text-align: center;
    font-size: 100px;
    margin: 50px;
}

h2, h3, h4 {
    color:  white;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 1em;
    padding-top: 1em;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    color: white;
}

h4 {
    font-weight: 400;
    color: white;
}

p {
    color:white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

header {
    background-image: url(images/header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    max-width: none;
    padding: 6em;
    text-align: center;
    height: 450px;
}

footer {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.section-about-me {
    font-style: 'Space-Grotest', sans-serif;;
    color: rgb(83, 83, 225) ;
    overflow: auto;
}

.photo-Marianna {
    width: 350px; 
    border-radius: 50%;
    float: left;
    margin: 20px 50px 20px 0px;
    filter: drop-shadow(10px 10px 10px rgba(85, 8, 210, 0.5));
}

.section-brigid {
    font-style: 'Space-Grotest', sans-serif;;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

.photo-Brigid {
    width: 350px; 
    border-radius: 50%;
    float: right;
    padding: 10px;
    filter: drop-shadow(-10px -5px 10px rgba(85, 8, 210, 0.5));
}

.photos-gallery img {
    width: 19%;
    border: 2px solid white;
    border-radius: 10px;
}

.portfolio-instagram img {
    width: 32%;
    border: 2px solid white;
    border-radius: 10px;
}

.portfolio-ratolest img {
    width: 16%;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
}